<form hx-post="/rate-video" method="post"> 
    <div class="select">
    <select class="is-focused" id="rating" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="hidden" id="current_video" name="current_video" value="{{ x.video_id }}">
    <input type="hidden" id="current_video" name="current_video" value="{{ x.video_id }}">
    <button class="button is-link is-light">Rate Video</button>
    </div>
  </form>