<!-- templates/video.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  View Latest videos
</h1>

{% for x in content %}
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="https://versions.bulma.io/0.7.5/images/placeholders/128x128.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ url_for('content.get_video' , video_id = x.video_id ) }}" ><strong>{{ x.title }}</strong> </a>
            <br>
            {{ x.resume }}
          </p>
        </div>
        
        <button class="button is-primary is-light" 
                        hx-post="/watch-video/{{x.video_id}}">
                        Watch me! 
        </button>
        {% include 'partials/rate-video.html' %}
        
        <!--
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </nav>
        -->
      </div>
    </article>
  </div>
{% endfor %}

{% endblock %}